<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="false">
        <!--<intercept-url pattern="/login" access="isAnonymous()" />-->
        <!--<intercept-url pattern="/" access="hasRole('USER')" />
        <intercept-url pattern="/home" access="hasRole('USER')"/>-->
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll"/>
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')"/>
        <!--<intercept-url pattern="/**" access="isAuthenticated()"/>-->
        <form-login login-page="/login"
                    username-parameter="ssoId"
                    password-parameter="password"
                    authentication-failure-url="/Access_Denied"
                />
        <csrf />
        <remember-me  remember-me-parameter="remember-me"  remember-me-cookie="remember-me"  token-validity-seconds="86400"  data-source-ref="dataSource" />
    </http>

    <global-method-security pre-post-annotations="enabled"/>

    <!-- db authentication-->
    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService" >
            <password-encoder ref="bcryptEncoder" />
        </authentication-provider>
    </authentication-manager>



    <b:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    <b:bean id="customUserDetailsService" class="com.isea533.mybatis.springsecurity.configuration.CustomUserDetailsService" />
</b:beans>