<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="false">
        <intercept-url pattern="/login" access="isAnonymous()" />
        <intercept-url pattern="/" access="hasRole('USER')" />
        <intercept-url pattern="/home" access="hasRole('USER')"/>
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')"/>
        <form-login login-page="/login"
                    username-parameter="ssoId"
                    password-parameter="password"
                    authentication-failure-url="/Access_Denied"
                />
        <csrf />
    </http>

    <!-- db authentication-->
    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService" />
    </authentication-manager>

    <b:bean id="customUserDetailsService" class="com.isea533.mybatis.springsecurity.configuration.CustomUserDetailsService" />
</b:beans>