<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isea533.mybatis.mapper.UserUserProfileMapper" >
  <resultMap id="BaseResultMap" type="com.isea533.mybatis.model.UserUserProfile" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="USER_PROFILE_ID" property="userProfileId" jdbcType="INTEGER" />
  </resultMap>

    <select id="getUserProfileList" resultMap="com.isea533.mybatis.mapper.UserProfileMapper.BaseResultMap">
        SELECT t_u.*
          FROM user_user_profile t_uu
        LEFT JOIN user_profile t_u on t_uu.USER_PROFILE_ID = t_u.ID
        where 1=1 and t_uu.user_id = #{userId}
    </select>

</mapper>